.text-block {
    background-color: rgba(10,10,10,0.4);
    padding: 20px;
    bottom: 20px;
    right: 20px;
}

.icon-java {
    background-image: url("../res/skills/java.png");
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.p-label {position: absolute;left: -50px;width: 50px;text-align: right;}
.no-italics {
    font-style: normal;   
}
.bg-darkgreen {background-color: #006400;}
